section.about#about
    h2.about__title.section-title О курсе
    p.about__description Авторская программа обучения от школы вина Энотрия для тех, кто делает первые шаги в мире вина. Мы познакомимся со всеми основными темами: от технологий производства и правильного сервиса до формата дегустации, стилей вин и факторов цены за одну бутылку.
    
    .about__fit 
        span.about__fit-title Подходит для

        ul.about__fit-list
            li.about__fit-item
                span Любители вина
            li.about__fit-item
                span Специалисты из сферы HoReCa
            li.about__fit-item
                span Начинающие кависты
                
    ul.about__details
        li.about__details-item 
            span.about__details-title Количество часов
            p.about__details-description 9 уроков 
        li.about__details-item 
            span.about__details-title Срок доступа
            p.about__details-description 60 дней
        li.about__details-item 
            span.about__details-title Время
            p.about__details-description Любое
        li.about__details-item 
            span.about__details-title Форма занятий
            p.about__details-description Онлайн