.age
    .age__wrapper
        img(src="static/images/content/age.svg" width="167" height="97" alt="18+").age__img
        p.age__description Продолжая пользоваться сайтом, вы подтверждаете, что вам больше 18 лет

        button(type="submit").age__submit Ок, мне больше 18