- var faqItem = [{q: 'Как часто обновляется программа курса?', a: 'Иногда бывает и такое'}, {q: 'В каком формате выдается диплом?', a: 'В бумажном виде '}, {q: 'Какие сервисы оплаты поддерживает курс?', a: 'Для оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплата заказа банковской картой. Оплата происходит через ПАО СберБанк с использованием банковских карт следующих платёжных систем: Мир, Visa International, Mastercard Worldwide, JCB'}, {q: 'Как проходит экзамен?', a: 'Как в школе'}]

section.faq#question
    h2.faq__title.section-title Частые вопросы
    .faq__list
        for i in faqItem
            details.faq__item
                summary.faq__name
                    span.faq__name-text=i.q
                    span.faq__name-opener

                .faq__answer 
                    p.faq__description=i.a