section.intro
    .intro__player 
        video(src="static/videos/trailer.mp4" loop autoplay muted poster="static/images/content/video-poster.png").intro__player-video#myVideo
        .intro__player-overlay
    .intro__body
        h1.intro__title Digital-курс Энотрии для&nbsp;любителей вина

        .intro__controls
            button(type="button").intro__controls-video.js-video Видео
            button(type="button").intro__controls-purchase.js-purchase Купить курс
    .intro__bottom
        p.intro__bottom-description Авторская программа обучения от школы вина Энотрия в on-line формате
        .intro__price
            b.intro__price-title Стоимость курса
            span.intro__price-nr.intro__price-nr--new 6 900 ₽
            span.intro__price-nr.intro__price-nr--old 9 900 ₽