.popup-teacher
    .popup-teacher__wrapper
        button(type="button").popup-teacher__closer
        
        .popup-teacher__visual
            picture.popup-teacher__frame
                source(srcset="" +".webp" type="image/webp")
                img(src="" +".jpg" width="" height="" alt="").popup-teacher__frame-image
        .popup-teacher__bio
            h3.popup-teacher__bio-name
            p.popup-teacher__bio-position
        .popup-teacher__info
            p.popup-teacher__info-about
            p.popup-teacher__info-description