.popup-order
    .popup-order__wrapper
        button(type="button").popup-order__closer

        h3.popup-order__title Оплатить курс
        p.popup-order__description После оплаты курса, мы пришлем доступы в личный кабинет на вашу почту

        .popup-order__info
            b.popup-order__name №1 Программа профессионального обучения по специальности сомелье/кавист  
            span.popup-order__price 220 000 рублей

        form(name="order-form" method="" action="").popup-order__form.form
            ul.form__list
                li.form__item
                    .form__item-wrap.form-line
                        label(for="order-name").form__label.js-label
                            input(type="text" name="order-name" id="order-name" placeholder="Имя*" required onkeydown="validationName()").form__input.js-name-input.js-input
                        span.form__error.form__error--name.hidden
                //- li.form__item
                //-     .form__item-wrap.form-line
                //-         label(for="order-surname").form__label.js-label
                //-             input(type="text" name="order-surname" id="order-surname" placeholder="Фамилия*" required onkeydown="validationName()").form__input.js-name-input.js-input
                //-         span.form__error.form__error--name.hidden
                li.form__item
                    .form__item-wrap.form-line
                        label(for="order-tel").form__label.js-label
                            input(type="tel" name="order-tel" id="order-tel" placeholder="Телефон" onkeydown="validationTel()").form__input.js-phone-input.js-input
                        span.form__error.form__error--tel.hidden
                li.form__item
                    .form__item-wrap.form-line
                        label(for="order-mail").form__label.js-label
                            input(type="email" name="order-mail" id="order-mail" placeholder="E-mail*" required onkeydown="validationMail()").form__input.js-mail-input.js-input
                        span.form__error.form__error--mail.hidden
                li.form__item.form__item--select
                    .form__item-wrap
                        .form__item-filter.filter
                            b(data-type="").filter__head Выбор размера оплаты
                            ul.filter__list
                                li(data-type="full").filter__item.is-active Полная оплата
                                li(data-type="70k").filter__item 70 000 рублей
                                li(data-type="80k").filter__item 80 000 рублей
                                li(data-type="90k").filter__item 90 000 рублей
            .form__item
                .form__item-wrap.form-line.form__item-wrap--checkbox
                    input(type="checkbox" name="order-gift" id="order-gift" value="order-gift").form__checkbox
                    label(for="order-gift").form__checkbox-label Оформить сертификат в подарок
            p.form__description  Пожалуйста, укажите контактные данные получателя
            ul.form__list.form__list--gift
                li.form__item
                    .form__item-wrap.form-line
                        label(for="gift-name").form__label.js-label
                            input(type="text" name="gift-name" id="gift-name" placeholder="Имя" onkeydown="validationName()").form__input.js-name-input.js-input
                        span.form__error.form__error--name.hidden
                //- li.form__item
                //-     .form__item-wrap.form-line
                //-         label(for="gift-surname").form__label.js-label
                //-             input(type="text" name="gift-surname" id="gift-surname" placeholder="Фамилия" onkeydown="validationName()").form__input.js-name-input.js-input
                //-         span.form__error.form__error--name.hidden
                li.form__item
                    .form__item-wrap.form-line
                        label(for="gift-tel").form__label.js-label
                            input(type="tel" name="gift-tel" id="gift-tel" placeholder="Телефон" onkeydown="validationTel()").form__input.js-phone-input.js-input
                        span.form__error.form__error--tel.hidden
                li.form__item
                    .form__item-wrap.form-line
                        label(for="gift-mail").form__label.js-label
                            input(type="email" name="gift-mail" id="gift-mail" placeholder="E-mail" onkeydown="validationMail()").form__input.js-mail-input.js-input
                        span.form__error.form__error--mail.hidden
            button(type="submit").form__submit 
                span.form__submit-text Отправить
                spam.form__submit-btn 
                    svg.form__submit-image
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#lo")
            span.form__agree Нажимая кнопку «Отправить», вы соглашаетесь с условиями 
                a(href="#" target="_blank") Политики конфиденциальности