section.review#reviews
    h2.review__title.section-title Мы ценим мнение наших студентов

    .review__slider
        .swiper-wrapper
            +reviewItem('review-1', 'Современные технологии продаж вин и спиртных напитков', 'course-1', 'Из школы я вышел не только с дипломом, но и с объемом знаний, которого хватит чтобы пойти работать и сомелье, и кавистом. Это был переломный момент и точкой невозврата к простым и демократичным винам', 'Николай Викторов', 'Выпускник школы, сомелье 1')
            +reviewItem('review-1', 'Современные технологии продаж вин и спиртных напитков', 'course-1', 'Из школы я вышел не только с дипломом, но и с объемом знаний, которого хватит чтобы пойти работать и сомелье, и кавистом. Это был переломный момент и точкой невозврата к простым и демократичным винам', 'Николай Викторов', 'Выпускник школы, сомелье 2')
            +reviewItem('review-1', 'Современные технологии продаж вин и спиртных напитков', 'course-1', 'Из школы я вышел не только с дипломом, но и с объемом знаний, которого хватит чтобы пойти работать и сомелье, и кавистом. Это был переломный момент и точкой невозврата к простым и демократичным винам', 'Николай Викторов', 'Выпускник школы, сомелье 3')
            +reviewItem('review-1', 'Современные технологии продаж вин и спиртных напитков', 'course-1', 'Из школы я вышел не только с дипломом, но и с объемом знаний, которого хватит чтобы пойти работать и сомелье, и кавистом. Это был переломный момент и точкой невозврата к простым и демократичным винам', 'Николай Викторов', 'Выпускник школы, сомелье 4')
        .review__pagination
        .review__controls
            button(type="button").review__controls-prev
                svg.review__controls-image
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#lo")
            button(type="button").review__controls-next
                svg.review__controls-image
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#lo")