.calculator {
    position: relative;
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    padding: toRem(48) 6.25% 0 6.25%;
    margin-bottom: toRem(32);

    &__head {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        margin-bottom: toRem(24);
    }

    &__description {
        margin-bottom: toRem(24);
        @include font-setting($primary-font, toRem(14), toRem(17), 500, $black);
        text-align: left;
        letter-spacing: -0.017em;
    }

    &__note {
        @include flex-setting(row, flex-start, center);

        &-image {
            width: toRem(34);
            height: toRem(34);
            margin-right: toRem(12);
            fill: $green;
            transform: rotate(-12deg);
        }

        span {
            max-width: 60%;
            @include font-setting($primary-font, toRem(14), toRem(17), 500, $black);
        }
    }

    &__stamp {
        display: none;
    }
}

@include min-screen(768px) {
    .calculator {
        padding-left: 2.6%;
        padding-right: 2.6%;
        margin-bottom: toRem(50);
    
        &__head {
            display: grid;
            grid-template-columns: 60% 30.34%;
            justify-content: space-between;
            align-self: start;
            margin-bottom: toRem(80);
        }
    
        &__description {
            margin-bottom: 0;
        }
    }
}

@include min-screen(1024px) {
    .calculator {
        padding-left: 3.90625%;
        padding-right: 3.90625%;
    
        &__head {
            grid-template-columns: 61% 30%;
        }

        &__stamp {
            position: absolute;
            bottom: toRem(40);
            right: 3.90625%;
            z-index: 2;
            @include flex-setting(column, center, center);
            width: toRem(205);
            height: toRem(205);
            padding: 0;
            background-color: transparent;
            border: none;

            &-layer {
                &:first-of-type {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: toRem(205);
                    height: toRem(205);
                    fill: $green;
                    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.15));
                }

                &:nth-of-type(2) {
                    z-index: 2;
                    width: toRem(95);
                    height: toRem(92);
                    animation: rotateR 15s infinite linear;
                }

                &:last-of-type {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: toRem(38);
                    height: toRem(47);
                    fill: $white;
                }
            }
        }
    }
}

@include min-screen(1280px) {
    .calculator {
        --width: calc(100% - 1182px);
        padding-top: toRem(55);
        padding-left: calc(var(--width) / 2);
        padding-right: calc(var(--width) / 2);
        
        &__head {
            grid-template-columns: 62% 32%;
        }

        &__description {
            font-size: toRem(18);
            line-height: toRem(22);
        }

        &__note {
            span {
                font-size: toRem(18);
                line-height: toRem(22);
            }

            &-image {
                width: toRem(46);
                height: toRem(46);
                margin-right: toRem(20);
            }
        }
    }
}