.calc {
    position: relative;
    @include flex-setting(column, flex-start, flex-start);
    padding: toRem(48) 6.25% toRem(32) 6.25%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(188, 255, 1, 0) 0%, #BCFF00 100%);

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: toRem(28);
        background: linear-gradient(180deg, rgba(188, 255, 0, 0) 0%, #BCFF00 100%);
    }

    &__bg {
        position: absolute;
        top: 50%;
        right: toRem(-150);
        transform: translateY(-50%);
        @include font-setting($primary-font, toRem(550), 1, 900, transparent);
        letter-spacing: -0.027em;
        -moz-text-stroke: toRem(25);
        -moz-text-stroke-color: $white;
        -webkit-text-stroke: toRem(25);
        -webkit-text-stroke-color: $white;
    }

    &__title {
        z-index: 1;
        display: inline-flex;
        max-width: toRem(222);
        margin-bottom: toRem(74);
        @include font-setting($primary-font, toRem(30), toRem(36), 400, $black);
        letter-spacing: -0.017em;
    }

    &__controls {
        z-index: 1;
        @include flex-setting(column, flex-start, center);
        width: 100%;

        &-btn {
            @include flex-setting(column, center, center);
            width: 100%;
            padding: toRem(14) 0;
            @include font-setting($primary-font, toRem(15), toRem(17), 500, $black);
            text-decoration: none;
            text-transform: uppercase;
            background-color: transparent;
            border-radius: toRem(24);
            transition: 0.2s $cubic;
            cursor: pointer;

            &.js-callback {
                margin-bottom: toRem(10);
                border: toRem(1) solid $black;

                &:active {
                    background-color: $green;
                    border-color: $green;
                    color: $black;
                    transition: 0.2s $cubic;
                }
            }

            &.js-link {
                background: $black;
                border: toRem(1) solid $black;
                color: $white;

                &:active {
                    background-color: $white;
                    border-color: $white;
                    color: $black;
                    transition: 0.2s $cubic;
                }
            }
        }
    }
}

@include min-screen(768px) {
    .calc {
        display: grid;
        grid-template-columns: toRem(334) toRem(230);
        justify-content: space-between;
        align-items: center;
        padding: toRem(70) 5.21% toRem(70) 5.21%;
        background: linear-gradient(180deg, rgba(188, 255, 1, 0) 0%, #BCFF00 100%);
    
        &__bg {
            position: absolute;
            top: toRem(-68);
            right: auto;
            left: 15.10%;
            transform: none;
            font-size: toRem(440);
            line-height: toRem(440);
        }
    
        &__title {
            grid-column: 1 / 2;
            max-width: 100%;
            margin-bottom: 0;
            font-size: toRem(40);
            line-height: toRem(44);
            letter-spacing: -0.027em;
        }
    
        &__controls {
            grid-column: 2 / 3;
    
            &-btn {
                font-size: toRem(14);
    
                &.js-callback {
                    margin-bottom: toRem(20);
    
                    &:active {
                        background-color: $green;
                        border-color: $green;
                        color: $black;
                        transition: 0.2s $cubic;
                    }
                }
    
                &.js-link {
                    background: $black;
                    border: toRem(1) solid $black;
                    color: $white;
    
                    &:active {
                        background-color: $white;
                        border-color: $white;
                        color: $black;
                        transition: 0.2s $cubic;
                    }
                }
            }
        }
    }
}

@include min-screen(1024px) {
    .calc {
        grid-template-columns: toRem(400) toRem(480);
        padding: toRem(92) 3.90625%;
    
        &__bg {
            top: 0;
            left: 10.54%;
        }
    
        &__controls {
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
    
            &-btn {
                width: auto;
                padding-left: toRem(40);
                padding-right: toRem(40);
    
                &.js-callback {
                    margin-bottom: 0;
    
                    &:hover {
                        background-color: $green;
                        border-color: $green;
                        color: $black;
                        transition: 0.2s $cubic;
                    }
                }
    
                &.js-link {
                    &:hover {
                        background-color: $white;
                        border-color: $white;
                        color: $black;
                        transition: 0.2s $cubic;
                    }
                }
            }
        }
    }
}

@include min-screen(1280px) {
    .calc {
        --width: calc(100% - 1182px);
        grid-template-columns: toRem(500) toRem(600);
        padding: toRem(115) calc(var(--width) / 2);

        &::after {
            height: toRem(54);
        }
    
        &__bg {
            font-size: toRem(550);
            line-height: 1;
            left: calc((100% - 1012px) / 2);
        }

        &__title {
            font-size: toRem(50);
            line-height: toRem(55);
        }
    
        &__controls {    
            &-btn {
                padding: toRem(18) toRem(50);

                font-size: toRem(18);
                line-height: toRem(22);

                border-radius: toRem(30);
            }
        }
    }
}