.faq {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;

    padding: 0 4.4444%;
    margin-bottom: toRem(64);

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
    }

    &__item {
        outline: none;
        width: 100%;

        &[open] {
            .faq__name {
                margin-bottom: toRem(24);

                &:active {
                    .faq__name-opener {
                        background-image: url("data:image/svg+xml,%3Csvg width='17' height='2' viewBox='0 0 17 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1H17' stroke='%23ffffff'/%3E%3C/svg%3E");

                    }
                }
            }

            .faq__name-opener {
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='2' viewBox='0 0 17 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1H17' stroke='%23222222'/%3E%3C/svg%3E");
                background-size: toRem(17) toRem(2);
                transition: 0.2s $cubic;
            }
        }

        &:not(:first-of-type) {
            .faq__name {
                padding: toRem(30) 0;
            }
        }

        &:first-of-type {
            .faq__name {
                padding-bottom: toRem(30);

                &-opener {
                    top: 0;
                    transform: none;
                }
            }
        }
    }

    &__name {
        position: relative;
        display: flex;
        width: 100%;
        border-bottom: toRem(1) solid rgba(34, 34, 34, 0.1);
        
        &-text {
            width: 100%;
            max-width: 67.0731%;
            @include font-setting($primary-font, toRem(18), toRem(25), 400, #000000);
            text-align: left;
        }
        
        &::-webkit-details-marker,
        &::marker {
            display: none;
        }

        &-opener {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include flex-setting(column, center, center);
            width: toRem(56);
            height: toRem(56);
            background-color: $darkwhite;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 1V0.5H8.5V1V8.5H1H0.5V9.5H1H8.5V17V17.5H9.5V17V9.5H17H17.5V8.5H17H9.5V1Z' fill='%23222222'/%3E%3C/svg%3E");
            background-size: toRem(18) toRem(18);
            border: none;
            border-radius: 100%;
            transition: 0.2s $cubic;
        }

        &:active {
            .faq__name-opener {
                background-color: $bordo;
                transition: 0.2s $cubic;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 1V0.5H8.5V1V8.5H1H0.5V9.5H1H8.5V17V17.5H9.5V17V9.5H17H17.5V8.5H17H9.5V1Z' fill='%23ffffff'/%3E%3C/svg%3E");
            }
        }
    }

    &__answer {
        width: 100%;
        padding-bottom: toRem(24);
        border-bottom: toRem(1) solid rgba(34, 34, 34, 0.1);
    }

    &__description {
        @include font-setting($secondary-font, toRem(14), toRem(20), 400, $darkgray);
        text-align: left;
    }
}

@include min-screen(768px) {
    .faq {
        padding: 0 4.1667%;
        margin-bottom: toRem(80);
    
        &__name {
            &-text {
                width: 100%;
                max-width: 59.8290%;
                font-size: toRem(24);
                line-height: toRem(34);
            }
        }
    
        &__description {
            font-size: toRem(18);
            line-height: toRem(22);
        }
    }
}

@include min-screen(1440px) {
    .faq {
        --padding: calc(100% - 1360px);
        padding: 0 calc(var(--padding) / 2);
        margin-bottom: toRem(120);
        
        &__title {
            margin-bottom: toRem(25);
        }

        &__item {
            &:not(:first-of-type) {
                .faq__name {
                    padding: toRem(35) 0;
                }
            }

            &:first-of-type {
                .faq__name {
                    padding-bottom: toRem(35);
                    padding-top: toRem(35);
                    &-opener {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &__item[open] {
            .faq__name {
                &:hover {
                    .faq__name-opener {
                        background-image: url("data:image/svg+xml,%3Csvg width='17' height='2' viewBox='0 0 17 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1H17' stroke='%23ffffff'/%3E%3C/svg%3E");

                    }
                }
            }
        }
    
        &__name {
            &-text {
                cursor: pointer;
                max-width: 85%;
            }

            &-opener {
                cursor: pointer;
            }

            &:hover {
                .faq__name-opener {
                    background-color: $bordo;
                    transition: 0.2s $cubic;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 1V0.5H8.5V1V8.5H1H0.5V9.5H1H8.5V17V17.5H9.5V17V9.5H17H17.5V8.5H17H9.5V1Z' fill='%23ffffff'/%3E%3C/svg%3E");
                }
            }
        }
    }
}