.popup-order {
    position: fixed;
    top: 0;
    left: 0;
    @include flex-setting(column, flex-start, center);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $white;
    overflow-y: scroll;

    z-index: 999;

    display: none;

    &.is-active {
        display: flex;
    }

    &__wrapper {
        position: relative;
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        padding: toRem(20) 4.4444%;
        overflow-x: hidden;
    }

    &__closer {
        position: absolute;
        top: toRem(16);
        right: 4.4444%;
        @include flex-setting(column, center, center);
        width: toRem(56);
        height: toRem(56);
        border: none;
        border-radius: 100%;
        background-color: $darkwhite;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00025 1L15 15M14.9998 1L1 15' stroke='%23222222'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: toRem(16) toRem(16);
        z-index: 2;

        &:active {
            background-color: $bordo;
            transition: 0.2s $cubic;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00025 1L15 15M14.9998 1L1 15' stroke='%23ffffff'/%3E%3C/svg%3E");
        }
    }

    &__title {
        @include font-setting($primary-font, toRem(30), toRem(42), 400, #000000);
        text-align: left;
        margin-bottom: toRem(40);
    }

    &__description {
        @include font-setting($secondary-font, toRem(14), toRem(20), 400, $black-opacity);
        text-align: left;
        margin-bottom: toRem(32);
    }
}

@include min-screen(768px) {
    .popup-order {  
        &__wrapper {
            padding: toRem(32) toRem(46);
        }
    
        &__closer {
            top: toRem(32);
            right: toRem(32);
        }
    
        &__title {
            font-size: toRem(40);
            line-height: toRem(52);
        }
    
        &__description {
            font-size: toRem(16);
            line-height: toRem(22);
            max-width: toRem(352);
            margin-bottom: toRem(32);
        }
    }
}

@include min-screen(1440px) {
    .popup-order {  
        background-color: $black-opacity;
        justify-content: center;
        backdrop-filter: blur(5px);

        &__wrapper {
            max-width: toRem(768);
            background-color: $white;
            padding: toRem(32) toRem(46) toRem(22) toRem(46);
        }
    
        &__closer {
            top: toRem(32);
            right: toRem(32);

            &:hover {
                background-color: $bordo;
                transition: 0.2s $cubic;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00025 1L15 15M14.9998 1L1 15' stroke='%23ffffff'/%3E%3C/svg%3E");
            }
        }
    
        &__title {
            font-size: toRem(40);
            line-height: toRem(52);
        }
    
        &__description {
            font-size: toRem(16);
            line-height: toRem(22);
            max-width: toRem(352);
        }
    }
}