.portfolio {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    padding: toRem(32) 6.25% toRem(48) 6.25%;

    &__head {
        width: 100%;
    }

    &__note {
        display: none;
    }

    &__list {
        position: relative;

        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(15);
        width: 100%;
    }

    &__item {
        @include flex-setting(column, flex-start, flex-start);
        @include gapFallbackV(15px);
        width: 100%;
    }

    &__name {
        display: inline-flex;
        width: 100%;
        margin-bottom: toRem(8);
        @include font-setting($primary-font, toRem(30), toRem(33), 400, $black);
        text-align: left;
        text-decoration: none;
        letter-spacing: -0.027em;
        border-bottom: toRem(1) solid currentColor;
        transition: 0.2s $cubic;

        &:active {
            color: $green;
            transition: 0.2s $cubic;
        }
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(17), 500, $black);
        text-align: left;
        letter-spacing: -0.01em;
    }

    &__wrap {
        display: none;
    }
}

@include min-screen(768px) {
    .portfolio {
        padding: toRem(50) 2.6%;
    
        &__head {
            @include flex-setting(row, space-between, flex-start);
            margin-bottom: toRem(60);
        }

        &__title {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    
        &__note {
            display: block;
            max-width: toRem(214);
            @include font-setting($primary-font, toRem(14), toRem(17), 500, $black);
            letter-spacing: -0.01em;
        }
    
        &__list {
            gap: toRem(24);
        }
    
        &__item {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include gapFallbackV(24px);
            border-bottom: toRem(2) solid currentColor;
        }
    
        &__name {
            width: auto;
            margin-bottom: 0;
            font-size: toRem(40);
            line-height: toRem(44);
            border: none;
        }
    
        &__description {
            font-size: toRem(18);
            line-height: toRem(22);
        }
    }
}

@include min-screen(1024px) {
    .portfolio {
        padding: toRem(40) 3.90625% toRem(80) 3.90625%;
    
        &__head {
            margin-bottom: toRem(32);
        }

        &__title {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    
        &__note {
            max-width: toRem(222);
        }
    
        &__list {
            gap: toRem(32);
        }
    
        &__item {
            @include gapFallbackV(32px);
        }
    
        &__description {
            display: none;
        }
    }
}

@include min-screen(1280px) {
    .portfolio {
        --width: calc(100% - 1182px);
        padding: toRem(60) calc(var(--width) / 2) toRem(100) calc(var(--width) / 2);
    
        &__head {
            margin-bottom: toRem(40);
        }
        &__note {
            max-width: toRem(280);
            font-size: toRem(18);
            line-height: toRem(22);
        }
    
        &__list {
            gap: toRem(40);
        }
    
        &__item {
            position: relative;
            @include gapFallbackV(40px);

            &:hover {
                border-color: $green;
                transition: 0.2s $cubic;

                .portfolio__name {
                    color: $green;
                    transition: 0.2s $cubic;
                }

                .portfolio__wrap {
                    position: absolute;
                    right: 0;
                    z-index: 3;
                    display: block;
                    width: toRem(354);
                    height: toRem(351);
                }
            }
        }

        &__underlay {
            width: toRem(354);
            height: toRem(351);
            transform: rotate(-15deg);
            fill: $green;
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: toRem(400);
            object-fit: contain;
            transform: translate(-50%, -50%);
        }

        &__name {
            font-size: toRem(50);
            line-height: toRem(55);
        }
    }
}