include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body.body-calc
        include ../modules/header/header

        main.main
            section.intro.intro--calc
                h1.intro__title Калькулятор стоимости&nbsp;сайта
                p.intro__description Последнее обновление 
                    time(datetime="23-07-2022").intro__desctiption-date 23 июля 2022
                a(href="#calculator" target="_self").intro__link ↓
                div(data-tilt).intro__visual
            section.calculator#calculator
                .calculator__head
                    p.calculator__description Помимо ориентировочной стоимости на выходе вы получите первичное техническое задание и коммерческое предложение. Если по ходу заполнения возникнут вопросы, вы можете связаться с нашим специалистом в чате, заказать обратный звонок или изучить FAQ
                    .calculator__note 
                        svg.calculator__note-image
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#service-hover")
                        span Время заполнения 10&nbsp;минут
                form(method="" action="").calculator__form.form
                    //- First step
                    .form__item.form__item--stepFirst
                        h2.form__name.section-title
                            span Вводная информация
                            span 01
                        fieldset.form__fieldset
                            b.form__subtitle Сайт с нуля?
                            ul.form__list
                                +formInput('radio', 'site-class', 'site-new', 'class-1', 'С нуля')
                                +formInput('radio', 'site-class', 'site-proto', 'class-2', 'Есть прототип')
                                +formInput('radio', 'site-class', 'site-design', 'class-3', 'Есть дизайн')
                        fieldset.form__fieldset 
                            b.form__subtitle Тип сайта
                            ul.form__list
                                +formInput('radio', 'site-type', 'ecom', 'type-1', 'Е-ком')
                                +formInput('radio', 'site-type', 'utils', 'type-2', 'Услуги')
                                +formInput('radio', 'site-type', 'landing', 'type-3', 'Лендинг')
                                +formInput('radio', 'site-type', 'shop', 'type-4', 'Магазин')
                        fieldset.form__fieldset
                            b.form__subtitle Кол-во шаблонов страниц (ключевые разделы)
                            //- switcher
                            .form__switch
                                .form__switch-label Ручной режим
                                label(for="switch").form__switch-wrap
                                    input(type="checkbox" name="switch" id="switch" value="manual").form__switch-input
                                    span.form__switch-tumbler
                                    span.form__switch-slider
                            //- 
                            .form__range
                                .form__range-slider
                                    input(type="text" class="js-range-slider" value="")
                                .form__range-controls
                                    label(for="input-nr").form__range-name количество
                                    input(type="text" class="form__range-input js-input" value="0" id="input-nr")
                            ul.form__list
                                +formInput('checkbox', 'site-main', 'main', 'page-1', 'Главная (5-7 экранов)')
                                +formInput('checkbox', 'site-about', 'about', 'page-2', 'О компании')
                                +formInput('checkbox', 'site-portfolio', 'portfolio', 'page-3', 'Портфолио')
                                +formInput('checkbox', 'site-contacts', 'contacts', 'page-4', 'Контакты')
                                +formInput('checkbox', 'site-404', '404', 'page-5', '404')
                                +formInput('checkbox', 'site-thx', 'thx', 'page-6', 'Спасибо')
                                +formInput('checkbox', 'site-catalog', 'catalog', 'page-7', 'Каталог сервисов')
                                +formInput('checkbox', 'site-services', 'services', 'page-8', 'Сервисы')
                        fieldset.form__fieldset
                            b.form__subtitle Продвижение (не нами, а вообще. Ссылки уникальные)
                            ul.form__list
                                +formInput('radio', 'promotion', 'promo-yes', 'yes', 'Да')
                                +formInput('radio', 'promotion', 'promo-no', 'no', 'Нет')
                    //- Second step
                    .form__item.form__item--stepSecond
                        h2.form__name.section-title
                            span Анализ и структура (появляется, если с нуля)
                            span 02
                        fieldset.form__fieldset 
                            b.form__subtitle Аудит
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list
                                +formInput('radio', 'site-audit', 'site-branches', 'audit-1', 'Отрасли (Ниши)')
                                +formInput('radio', 'site-audit', 'site-rivals', 'audit-2', 'Конкуренты')
                        fieldset.form__fieldset 
                            b.form__subtitle Прототип
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list 
                                +formInput('radio', 'site-proto', 'proto-yes', 'proto-1', 'Да')
                                +formInput('radio', 'site-proto', 'proto-no', 'proto-2', 'Нет')
                                li.form__line
                                    input(type="radio" name="site-proto" value="proto-based" id="proto-3").form__input
                                    label(for="proto-3").form__label На основе семантического ядра

                                    ul.form__sublist 
                                        +formInput('radio', 'proto-semantics', 'semantics-no', 'semantic-1', 'Семантическое ядро собрано')
                                        +formInput('radio', 'proto-semantics', 'semantics-yes', 'semantic-2', 'Нужен сбор семантического ядра') 
                    //- Third step
                    .form__item.form__item--stepThird
                        h2.form__name.section-title
                            span Дизайн
                            span 03
                        fieldset.form__fieldset 
                            b.form__subtitle Есть ли референсы
                            ul.form__list 
                                +formInput('radio', 'site-ref', 'ref-branches', 'ref-1', 'Отрасли (Ниши)')
                                +formInput('radio', 'site-ref', 'ref-rivals', 'ref-2', 'Конкуренты')
                        fieldset.form__fieldset 
                            b.form__subtitle Есть ли готовый контент (фото, тексты, лого, старый сайт)?
                            p.form__description Стоимость работы с контентом не входит в стоимость ориентировочного КП и будет оценена менеджером после изучения технического задания.

                            ul.form__list 
                                +formInput('radio', 'site-graph', 'graph-yes', 'graph-1', 'Да')
                                +formInput('radio', 'site-graph', 'graph-no', 'graph-2', 'Нет')
                        fieldset.form__fieldset 
                            b.form__subtitle Количество разрешений
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list 
                                li.form__line
                                    input(type="checkbox" name="screen-desktop" value="screen-desktop" id="screen-1").form__input
                                    label(for="screen-1").form__label Десктоп
                                    p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако.
                                +formInput('checkbox', 'screen-mobile', 'screen-mobile', 'screen-2', 'Мобильное')
                                +formInput('checkbox', 'screen-laptop', 'screen-laptop', 'screen-3', 'Ноутбук')
                                +formInput('checkbox', 'screen-tablet', 'screen-tablet', 'screen-4', 'Планшет')
                                +formInput('checkbox', 'screen-wide', 'screen-wide', 'screen-5', 'Широкоугольное (4k, Wide)')
                    //- Fourth step
                    .form__item.form__item--stepFourth
                        h2.form__name.section-title
                            span Верстка
                            span 04
                        fieldset.form__fieldset 
                            b.form__subtitle Браузеры
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list 
                                +formInput('checkbox', 'browser-google', 'browser-google', 'browser-1', 'Chrome')
                                +formInput('checkbox', 'browser-ya', 'browser-ya', 'browser-2', 'Yandex Browser')
                                +formInput('checkbox', 'browser-firefox', 'browser-firefox', 'browser-3', 'Mozilla Firefox')
                                +formInput('checkbox', 'browser-safari', 'browser-safari', 'browser-4', 'Safari')
                                +formInput('checkbox', 'browser-edge', 'browser-edge', 'browser-5', 'Edge')
                                +formInput('checkbox', 'browser-ie', 'browser-ie', 'browser-6', 'Internet Explorer')
                        fieldset.form__fieldset 
                            b.form__subtitle Анимация
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list 
                                +formInput('radio', 'site-animation', 'animation-no', 'animation-1', 'Без анимации')
                                li.form__line
                                    input(type="radio" name="site-animation" value="animation-yes" id="animation-2").form__input
                                    label(for="animation-2").form__label С анимацией

                                    ul.form__sublist 
                                        +formInput('checkbox', 'animation-icon', 'animation-icon', 'animation-type-1', 'Иконки')
                                        +formInput('checkbox', 'animation-slider', 'animation-slider', 'animation-type-2', 'Слайдеры')
                                        +formInput('checkbox', 'animation-screen', 'animation-screen', 'animation-type-3', 'Экраны')
                                        +formInput('checkbox', 'animation-graph', 'animation-graph', 'animation-type-4', 'Графики')
                                        +formInput('checkbox', 'animation-digit', 'animation-digit', 'animation-type-5', 'Цифры')
                    //- Fifth step
                    .form__item.form__item--stepFifth
                        h2.form__name.section-title
                            span Программинг
                            span 05
                        fieldset.form__fieldset 
                            b.form__subtitle CMS
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list 
                                +formInput('radio', 'site-cms', 'cms-bitrix', 'cms-1', 'Bitrix')
                                +formInput('radio', 'site-cms', 'cms-wordpress', 'cms-2', 'Wordpress')
                                +formInput('radio', 'site-cms', 'cms-html', 'cms-3', 'HTML')
                        fieldset.form__fieldset
                            b.form__subtitle Интеграция
                            p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать. Однако, «Битрикс» уже давно занимает лидирующие позиции на рынке в области разработки систем управления веб-проектами. Можно сказать, она уже стала своего рода «отраслевым стандартом».
                            ul.form__list
                                li.form__line
                                    input(type="checkbox" name="crm-integration" value="crm-integration" id="intergration-1").form__input
                                    label(for="intergration-1").form__label CRM
                                    p.form__description Как и у других платформ, у «Битрикс» есть свои плюсы и минусы, и все могут по-разному их оценивать.
                                +formInput('checkbox', 'ct-integration', 'ct-integration', 'intergration-2', 'Коллтрекинг')
                                +formInput('checkbox', 'co-integration', 'co-integration', 'intergration-3', 'Сбор заявок')
                                +formInput('checkbox', 'metr-integration', 'metr-integration', 'intergration-4', 'Счетчики метрики')
                                +formInput('checkbox', 'wm-integration', 'wm-integration', 'intergration-5', 'Вебмастер панели')
                    //- Controls
                    .form__controls
                        button(type="button").form__controls-prev ←
                        button(type="button").form__controls-next Шаг 2
                    .form__bottom
                        progress(value="32" max="100" id="form-fulfillment").form__bottom-progress
                        .form__final
                            h3.form__final-title Примерная стоимость
                            
                            ul.form__final-list
                                li.form__final-item
                                    b.form__final-name Анализ и структура
                                    span.form__final-price 25 000 ₽
                                li.form__final-item
                                    b.form__final-name Анализ и структура
                                    span.form__final-price 25 000 ₽
                                li.form__final-item
                                    b.form__final-name Анализ и структура
                                    span.form__final-price 25 000 ₽
                            .form__checkout
                                b.form__checkout-name Итого:
                                span.form__checkout-nr 95 000 ₽
                button(type="button").calculator__stamp
                    svg.calculator__stamp-layer
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-1")
                    svg.calculator__stamp-layer
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#support-text")
                    svg.calculator__stamp-layer
                        use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-3")

        include ../modules/footer/footer
        script(src="static/js/libs.js")
        script(src="static/js/main.js")
        script(src="static/js/textarea.js")
        script(src="static/js/range.js")
        block script