include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        script(src="https://player.vimeo.com/api/player.js")
    body.body
        include ../modules/header/header

        main.main
            include ../modules/blocks/intro
            include ../modules/blocks/about
            include ../modules/blocks/teacher
            include ../modules/blocks/program
            include ../modules/blocks/process
            include ../modules/blocks/review
            include ../modules/blocks/faq
        include ../modules/footer/footer
        include ../modules/blocks/popup-order
        include ../modules/blocks/popup-teacher
        include ../modules/blocks/popup-video
        include ../modules/blocks/thx
        include ../modules/blocks/age
        script(src="static/js/libs.js")
        script(src="static/js/main.js")
        script(src="static/js/slider.js")
        script(src="static/js/placeholder.js")
        script(src="static/js/teacher.js")
        script(src="static/js/video.js")
        script(src="static/js/details.js")
        script(src="static/js/validate.js")
        script(src="static/js/mask.js")
        block script
