.section-title {
    @include font-setting($primary-font, toRem(24), toRem(31.2), 400, #000000);
    margin-bottom: toRem(32);

    @include min-screen(768px) {
        font-size: toRem(40);
        line-height: toRem(52);
        margin-bottom: toRem(50);
    }

    @include min-screen(1440px) {
        margin-bottom: toRem(60);
    }
}
