.header {
    position: sticky;
    top: 0;
    @include flex-setting(row, space-between, center);
    width: 100%;
    padding: toRem(16) 4.4444%;
    background-color: $white;
    box-shadow: 0px 8px 29px rgba(0, 0, 0, 0.06);

    z-index: 99;

    &.is-active {
        .header__nav {
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.2s $cubic;
            z-index: 2;
            overflow-y: scroll;
        }

        .header__toggle {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00025 1L15 15M14.9998 1L1 15' stroke='%23222222'/%3E%3C/svg%3E");
            transition: 0.2s $cubic;

            &:active {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00025 1L15 15M14.9998 1L1 15' stroke='%23ffffff'/%3E%3C/svg%3E");
                transition: 0.2s $cubic;
            }
        }
    }

    &__logo {
        width: toRem(100.31);
        height: toRem(17.66);

        &-link {
            display: inline-flex;
            width: inherit;
            height: inherit;
        }

        &-image {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__nav {
        position: absolute;
        left: -150vw;
        top: 0;
        transition: 0.2s $cubic;
        z-index: 2;
    }

    &__toggle {
        @include flex-setting(column, center, center);
        width: toRem(56);
        height: toRem(56);
        border: none;
        border-radius: 100%;
        background-color: $darkwhite;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H13M1 6H13M1 11H13' stroke='%23140F14' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: toRem(16) toRem(16);
        z-index: 2;
        transition: 0.2s $cubic;

        &:active {
            transition: 0.2s $cubic;
            background-color: $bordo;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H13M1 6H13M1 11H13' stroke='%23ffffff' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }
    }
}

@include min-screen(768px) {
    .header {
        padding-left: 4.1667%;
        padding-right: 4.1667%;
    
        &__logo {
            width: toRem(138.9);
            height: toRem(24.45);
        }
    }
}

@include min-screen(1440px) {
    .header {
        --padding: calc(100% - 1360px);
        padding: toRem(24) calc(var(--padding) / 2);

        &__toggle {
            display: none;
        }
    }
}