.nav {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    padding: toRem(100) toRem(36) toRem(30) toRem(77);
    background-color: $white;

    &__call {
        margin-bottom: toRem(30);
        @include font-setting($primary-font, toRem(28), toRem(36), 400, $black);
        text-decoration: none;
        white-space: nowrap;
        transition: 0.2s $cubic;

        &:active {
            color: $bordo;
            transition: 0.2s $cubic;
        }
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        gap: toRem(20);
        margin-bottom: toRem(50);
    }

    &__item {
        @include flex-setting(row, flex-start, center);
        width: 100%;
        @include gapFallbackV(20px);
    }

    &__link {
        @include font-setting($secondary-font, toRem(16), toRem(22), 400, $black);
        text-decoration: none;
        transition: 0.2s $cubic;

        &:active {
            color: $bordo;
            transition: 0.2s $cubic;
        }
    }

    &__purchase {
        @include flex-setting(column, center, center);
        @include font-setting($secondary-font, toRem(16), toRem(22), 400, $white);
        width: 100%;
        padding: toRem(17) 0;
        margin-bottom: toRem(50);
        background-color: $bordo;
        border: none;
        border-radius: toRem(56);
        transition: 0.2s $cubic;

        &:active {
            background-color: $ochra;
            transition: 0.2s $cubic;
        }
    }

    &__contacts {
        position: relative;
        @include flex-setting(row, center, center);
        gap: toRem(86);
        width: 100%;
        padding-top: toRem(30);

        display: none;

        &-link {
            @include font-setting($secondary-font, toRem(16), toRem(22), 400, $black);
            text-decoration: none;
            transition: 0.2s $cubic;

            &:active {
                color: $bordo;
                transition: 0.2s $cubic;
            }
        }

        &::before {
            position: absolute;
            content: '';

            width: 100vw;
            height: toRem(1);
            background-color: $darkwhite;
            left: toRem(-77);
            top: 0;
        }
    }
}

@include min-screen(768px) {
    .nav {
        align-items: center;

        &__list {
            align-items: center;
        }

        &__item {
            justify-content: center;
        }

        &__purchase {
            width: auto;
            padding-left: toRem(52);
            padding-right: toRem(52);
        }
    }
}

@include min-screen(1440px) {
    .nav {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;

        &__call {
            display: none;
        }

        &__list {
            flex-direction: row;
            justify-content: flex-start;
            align-self: center;
            gap: toRem(50);
            width: auto;
            margin-bottom: 0;
            margin-right: toRem(188);
        }

        &__item {
            width: auto;
            justify-content: center;
        }

        &__link {
            white-space: nowrap;

            &:hover {
                color: $bordo;
                transition: 0.2s $cubic;
            }
        }

        &__purchase {
            margin-bottom: 0;

            &:hover {
                background-color: $ochra;
                transition: 0.2s $cubic;
            }
        }

        &__contacts {
            display: none;
        }
    }
}