- var footerLinks = [{name: 'О курсе', link: ''}, {name: 'Преподаватели', link: ''}, {name: 'Программа', link: ''}, {name: 'Обучение', link: ''}, {name: 'Отзывы', link: ''}, {name: 'Вопросы', link: ''}]

footer.footer 
    .footer__logo
        a(href="index.html" target="_self").footer__logo-link
            img(src="static/images/content/logo-header.svg" width="" height="" alt="Энотрия").footer__logo-image
    
    .footer__about
        span.footer__about-title О курсе
        ul.footer__about-list
            for i in footerLinks
                li.footer__about-item 
                    a(href="" +i.link target="_self").footer__about-link=i.name

    .footer__callback
        a(href="+78123632516" target="_self").footer__callback-link 8 812 363-2516
        span.footer__callback-note Звонок по России бесплатный

    .footer__subscribe 
        span.footer__subscribe-title Будьте в курсе новостей школы
        form(method="" action="").footer__subscribe-form
            .footer__subscribe-item
                label(for="subscribe-email").footer__subscribe-label.js-label
                    input(type="email" name="subscribe-email" id="subscribe-email" placeholder="E-mail" required onkeydown="validationMailSubscribe()").footer__subscribe-input.js-mail-input.js-input
                span.footer__subscribe-error.hidden
            button(type="submit").footer__subscribe-submit
                svg.footer__subscribe-image
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#lo")
    .footer__info 
        ul.footer__info-list 
            li.footer__info-item 
                img(src="static/images/content/mir-foo.svg" width="" height="" alt="").footer__info-logo
            li.footer__info-item 
                img(src="static/images/content/visa-foo.svg" width="" height="" alt="").footer__info-logo
            li.footer__info-item 
                img(src="static/images/content/mc-foo.svg" width="" height="" alt="").footer__info-logo
            li.footer__info-item 
                img(src="static/images/content/jsb-foo.svg" width="" height="" alt="").footer__info-logo
        .footer__info-contacts
            a(href="" target="_self").footer__info-link VK 
            a(href="" target="_self").footer__info-link Twitter
    
    .footer__legal 
        span.footer__legal-copy © Simple 2020
        a(href="" target="_blank").footer__legal-link Политика конфиденциальности
        a(href="" target="_blank").footer__legal-link Политика в отношении cookie-файлов
        a(href="faq.html" target="_self").footer__legal-link FAQ
        a(href="rules.html" target="_self").footer__legal-link Условия покупки
        span.footer__legal-made Сделано в 
            a(href="https://uplab.ru" target="_blank")
                svg.footer__legal-image
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#uplab")
            